* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:  #181A18;
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

#logo {
    grid-column: 2/3;
    font-size: 24px;
}

a {
    grid-row: 1/1;
    grid-column: 3/3;
    justify-self: end;
}

i {
    color: white;
}

section {
    display: flex;
    height: 80vh;
    background:white;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 5%;
}

.headline {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}

.hero::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

.screenshot {
    height: 40%;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
}

.s2 {
    /* display: flex; */
    background: deeppink;
    height: 80vh;
    width: 100%;
}

.s3 {
    /* display: flex; */
    background: yellow;
    height: 80vh;
    width: 100%; 
}

.section h1 {
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

#description {
    
    margin: 20%;
    width: 50% ;
    margin-left: 5%;
    font-size: 20px;
}

#description p {
    background: tomato;
    margin: 50px 0px;
}

.intro-text {
    width: 30%;
    opacity: 0;
    /* transform: translateY(20px); */
    /* transition: 0.5s all ease-in-out; */
}






